<footer class="footer animated slideInUp fixed-bottom" *ngIf="logStat == true">
  <div class="row">
    <div class="col-11">
    </div>
    <div class="col-1">
      <div class="btn-group dropup pull-right">
        <button type="button" class="btn" id="btnToggle" data-toggle="dropdown">
          <i class="fas fa-cog"></i>
        </button>
        <div class="dropdown-menu">
          <button type="button" class="btn btn-drop animated fadeIn" id="aboutUs" routerLink=""><i
              class="text-center fas fa-user"></i>
            <p class="drop-text-none">About Us</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
